form{
    background-color: peru;
    
}

.input{
    display: flex;
    justify-content: center;
    
    background-color: darkolivegreen;
}

.label{
    font-size: 30px;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

.formulaire{
    background-color: rgb(41, 217, 64);
    color: blueviolet;
}

